* {
    margin: 0;
  }

  li { 
    list-style-type: none; 
    color: black;
}

  
    /* Header */
  
  .menu-celular{
    margin-top: 5px;
    width: 50px;
    margin-left: 20px;
    display:none;
   
  }
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Increase z-index to ensure it's on top of other elements */
    height: 80px;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 0.7em 0.5em;
    text-decoration: none;
    transition: 0.3s;
    border-bottom: 1px solid #f7f7f7; /* Adjusted border style */
    color: #242424;
  }
  
  .header li a:hover,
  .header .btn-mobile:hover {
    background-color: #02a1ee;
    color: #fff;
  }
  
  .header .logo {
    display: block;
    float: left;
  }
  
  .header .nav {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  
  /* Menu Icon */
  .header .mobile-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .mobile-icon .hamburger {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: 0.2s ease-out;
    width: 18px;
  }
  
  .header .mobile-icon .hamburger:before,
  .header .mobile-icon .hamburger:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  
  .header .mobile-icon .hamburger:before {
    top: 5px;
  }
  
  .header .mobile-icon .hamburger:after {
    top: -5px;
  }
  
  /* Menu Button */
  .header .mobile-btn {
    display: none;
  }
  
  .header .mobile-btn:checked ~ .nav {
    max-height: 240px;
  }
  
  .header .mobile-btn:checked ~ .mobile-icon .hamburger {
    background: transparent;
  }
  
  .header .mobile-btn:checked ~ .mobile-icon .hamburger:before {
    transform: rotate(-45deg);
  }
  
  .header .mobile-btn:checked ~ .mobile-icon .hamburger:after {
    transform: rotate(45deg);
  }
  
  .header .mobile-btn:checked ~ .mobile-icon:not(.steps) .hamburger:before,
  .header .mobile-btn:checked ~ .mobile-icon:not(.steps) .hamburger:after {
    top: 0;
  }
  
  /* Container and Content */
  .container {
    width: 100%;
    margin-top: 100px;
  }
  
  .content {
    width: 92%;
    margin-left: 9vw;
  }
  
  /* Media Query for Larger Screens */
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
  
    .header li a {
      padding: 15px 30px;
      margin-top: 12px;
      border-radius: 6px;
      border-bottom: 0;
    }
  
    .header .nav {
      clear: none;
      float: right;
      max-height: none;
    }
  
    .header .mobile-icon {
      display: none;
    }
  
    .header li a {
      transition: 0.3s;
    }
  }
  
  /* General Styling */
  img {
    height: 65px;
  }